.App {
    padding-top: 36px;
    text-align: center;
}

.SearchForm-wrapper {
    display: flex;
    justify-content: center;
}

.MoviesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.MoviesList-item {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    width: 300px;
}
